[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-filter = "*"
django-debug-toolbar = "*"
django-cors-headers = "*"
pillow = "*"
drf-yasg = "*"
environs = "*"
django-jazzmin = "*"
django-ckeditor = "*"
redis = "*"
django-redis = "*"

[dev-packages]

[requires]
python_version = "3.11"
